<!-- <app-card [title]="posts[0].title" [postedBy]="posts[0].postedBy" [desc]="posts[0].desc"
  [imageUrl]="posts[0].imageUrl"></app-card>
<app-card [title]="posts[1].title" [postedBy]="posts[1].postedBy" [desc]="posts[1].desc"
  [imageUrl]="posts[1].imageUrl"></app-card>
<app-card [title]="posts[2].title" [postedBy]="posts[2].postedBy" [desc]="posts[2].desc"
  [imageUrl]="posts[2].imageUrl"></app-card> -->

  <app-card *ngFor="let post of posts"
    [title]="post.title"
    [postedBy]="post.postedBy"
    [desc]="post.desc"
    [imageUrl]="post.imageUrl"
  ></app-card>